/* Body.css */
body {
    background-color: #f7f7f7; /* Your custom background color */
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
  }
  

/* Navbar.css */
.custom-navbar {
    background-color: #2196f3; /* Your custom background color */
    padding: 10px;
  }
  
  .custom-navbar .navbar-brand {
    color: #ffffff; /* Your custom text color */
  }
  
  .custom-navbar .nav-link {
    color: #ffffff; /* Your custom text color */
  }
  
  .custom-navbar .nav-link:hover {
    color: #cccccc; /* Your custom hover text color */
  }
  